body {
    background: lightgray;
}

input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

.darkorange {
    color:darkorange;
}
.limit_max {
    margin-top: 17px;
}

.min_opacity {
    opacity: 0.1;
}

.navbar{
    background: lightgray;
}


